.am-list-header
	text-align: center;

.am-list-item
	padding-left: 0.5em;
	
	.am-list-thumb:first-child
		//margin-top: 1px;
		margin-right: 0.8em;
	
	img
		width: 4em;
		height: 4em;
		//object-fit: contain;
		object-fit: cover;
		border-radius: 5px;
	
	.am-list-line
		&:after
			height: 2px !important
		
		.am-list-content
			font-size 1em
		
		.am-list-brief
			font-size 0.9em
			white-space normal
		
		.am-list-extra
			flex-basis: auto
			margin-left: 0.3em;