.am-card-header-content
	flex-grow: 1;
	img
		width: 6em
		height: @width
		object-fit: contain;
		border-radius: 5px;

.am-card-header-extra
	flex: initial
	margin-left: 1em;

.am-card-body-title
	font-weight: bold;
	min-height: initial
	padding-top: 0.5em;
	padding-bottom: 0.5em;

.am-card-footer-content
	flex-grow: 1;

.am-card-footer-extra
	flex: initial
	text-align: left;
